<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-xl-center">$<%= params[:amount] %></h1>
    <p class="lead text-xl-center">Check out what you could blow your money on!</p>
  </div>
</div>

<div class="card-columns">
	<% @listings4["results"].each do |listing| %>
	  <div class="card">
	  	<h3 class="card-header text-xl-center">$<%= listing["price"] %></h3>
	    <img class="card-img-top img-fluid" src="<%= listing["Images"][0]["url_fullxfull"] %>" alt="Card image cap">
	    <div class="card-block">
	      <h4 class="card-title"><%= listing["title"] %></h4>
	      <p class="card-text"><%= listing["description"].first(100) %>...</p>
	      <a href="<%= listing["url"] %>"class="card-text"><small class="text-muted">View</small></a>
	    </div>
	  </div>
 <% end %>
</div>

<a href="/results3">Last Page</a>